$white: #fff;
$black: #313131;
$yellow: yellow;

* {
  transition: all 0.2s;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

body {
  color: $black;
  background-color: $yellow;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  width: 400px;
  min-width: 400px;
}

.main {
  background-color: $white;
  margin: auto;
  height: 100vh;
}
