.sidebar {
  .user-photo {
    height: 400px;
    border-right: 1px solid $yellow;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .user-name {
    text-align: center;
    margin-bottom: 0;
  }
  .user-description {
    text-align: center;
    font-size: 20px;
  }
}
